.container{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.top{
    display: block;
}

.mybutton{
    background-color: aquamarine;
    font-size: 44px;
    margin-top: 10px;
}

.description{
    font-size: 24px;
    background-color: white;
}

p{
    background-color: aliceblue;
    font-size: 24px;
}
